<h1><%= @register.name %> Has Registed</h1>
===============================================
 
    <p> Details:</p>
    <p> name : <%= @register.name %> </p>
    <p> email: <%= @register.email %></p>
    <p> register number : <%= @register.register_no %> </p>
    <p> College Name : <%= @register.college_name %></p>
    <p> Dept Name : <%= @register.dept_name %> </p>
    <p> Mobile number : <%= @register.mob_no %></p>